<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Site down</title>
</head>

<body>
    <center>
        <h1>{{mantainanceTitle}}</h1>
    </center>
    <br />
    <p>The site is currently down for some repair</p>
</body>

</html>